{{ $img := .Page.Resources.GetMatch (.Destination | safeURL) }}
{{ $alt := .PlainText | safeHTML }}
{{ $caption := "" }}
{{ with .Title }}
  {{ $caption = . | safeHTML }}
{{ end }}

{{ with $img }}
  {{ $small := .Resize "480x" }}
  {{ $medium := .Resize "768x" }}
  {{ $big := .Resize "1024x" }}
  <figure class="pswp-single-photo">
    <a href="{{ $img.RelPermalink }}" data-pswp-width="{{ $img.Width }}" data-pswp-height="{{ $img.Height }}" target="_blank">
      <img
        src="{{ $img.RelPermalink }}"
        srcset="{{ $small.RelPermalink }} 480w, {{ $medium.RelPermalink }} 768w, {{ $big.RelPermalink }} 1024w"
        alt="{{ if $alt }}{{ $alt }}{{ else if $caption }}{{ $caption | markdownify | plainify }}{{ else }}&nbsp;{{ end }}"
      >
    </a>
    {{ with $caption }}
      <figcaption>{{ . | markdownify }}</figcaption>
    {{ end }}
  </figure>
{{ else }}
  <figure>
    <img loading="lazy" src="{{ .Destination | safeURL }}" alt="{{ $alt }}">
    {{ with .Title }}
    <figcaption>{{ . }}</figcaption>
    {{ end }}
  </figure>
{{ end }}
